.link {
  color: var(--color-primary-light);
  text-decoration: none;
  transition: color 0.3s;

  &:hover {
    color: var(--color-brand);
  }

  &--content {
    font-weight: 700;
    color: var(--color-brand);
    text-decoration: underline;
  }
}
