.splide__track {
  border-radius: 8px;
  padding: 24px 24px 40px;
}

.splide__pagination {
  display: flex;
  flex-direction: row;
  gap: 8px;
}

.splide__pagination__page {
  background-color: var(--color-primary-light);
}

.splide__pagination__page.is-active {
  background-color: var(--color-brand);
}
