:root {
  --color-primary-light: #F8F8F8;
  --color-primary-dark: #0a142f;
  --color-secondary-dark: #172048;
  --color-secondary: #5A6378;

  --color-brand: #FFC93E;
  --color-brand-dark: rgba(255, 255, 255, 0.2);
  --color-brand-light: rgba(243, 245, 246, 0.2);

  --color-secondary-text: #e0e5f3;

  --font-family: "Inter", sans-serif;
}

$bp-mobile: 480px;
$bp-mobile-large: 600px;
$bp-tablet: 768px;
$bp-desktop: 1280px;
